html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.home { 
  width: 100%;
  height: 200vh;
  padding-bottom: 100px;
  display: table-column;
  padding-top: 10px;
  padding-right: 15%;
  flex-direction: column;
  margin-right: 10px;
  position: 10px 0px 00px;
  background-repeat: no-repeat;
  background-size:auto 530px;
  
}

.headerContainer {
  width: 40%;
  margin-left: 10%;
  
}

.headerContainer h1 {
  font-family: 'Poppins', sans-serif;
  padding-right: 15%;
  justify-content: center;
  font-weight: bolder;
  font-size: 70px;
  height: 100px;
  color: rgb(52, 168, 83)
}


.headerContainer .Typ {
  font-family: 'Poppins', sans-serif;
  padding-right: 15%;
  justify-content: center;
  font-weight: bolder;
  font-size: 75px;
  height: 10px;
  color: #f6bc06;
}


.headerContainer p {
  
  padding-top: 80px;
  padding-right: 15%;
  font-size: 25px; height: 100px;
  
  color: #265137;
}




.headerContainer button {
  width: 250px;
  height: 60px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  background-image: linear-gradient(to right, #34a853 0%, #34a853  51%, #34a853  100%);
  border: 30px;
  font-family: 'Nunito Sans', sans-serif;
  color: #ffffff;
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 1px;
  backdrop-filter: blur(8px);
  cursor: pointer;
  border-radius: 16px;
  transition: 0.5s;
}

.headerContainer button:after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
      45deg,
      transparent 50%,
      rgba(52,168,83,0.03) 58%,
      rgba(52,168,83,0.03) 58%,
      transparent 68%
  );
  background-size: 200% 100%;
  background-position: 165% 0;
  transition: 0.7s;
}

.headerContainer button:hover:after{
  background-position: -20% 0;
}

.headerContainer button:hover{
  box-shadow: 15px 30px 32px rgba(52,168,83,0.65);
  transform: translateY(-10px);

  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;

}

@media only screen and (max-width: 960px) {
  .home {
 padding-right: 15%;
  font-size: 40px;
  font-weight: 50;
  color: rgb(255, 255, 255);
  background-size:1550px 530px;
  align-items: left;
  }
  .headerContainer h1,
  .headerContainer p {
  }

  .headerContainer h1 {
    font-size: 40px;

    height: 30px;
    color: white;
  }

  .headerContainer p {
    padding-top: 50px;
    font-size: 20px;
    color: white;
  }






  
}


